* {
  margin: 0;
  padding: 0;
  background: #fff;
}

/* Main Header */
.main-header {
  top: 80px;
  position: relative;
}

/* Picture container */
.card-group {
  width: 1372px;
  margin-bottom: 20px;
}
.picture-container {
  position: relative;
  height: 100vh;
  width: 1372px;
  top: 80px;
  padding: 0px;
}

.picture-card img {
  width: 212px;
  height: 111px;
}

.picture-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #2b2d36;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.picture-card-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #858899;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.picture-card-body {
  width: 212px;
  padding: 12px;
}
.picture-card-description {
  width: 188px;
  height: 89px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.1px;
  overflow: hidden;
}
